# Supabase 설정
VITE_SUPABASE_URL=https://dvynnouphxkreipjrnws.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR2eW5ub3VwaHhrcmVpcGpybndzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMwNDQxMTcsImV4cCI6MjA4ODYyMDExN30.PZiYDTVLmTZ4E5rVkO-KnP9aQLCon90xma0ckb-Nb50
